@import "reset";
@import "colors";
@import "mixins";
@import "fonts";

@font-face {
     font-family: 'FontAwesome';
     src: url('fonts/fontawesome-webfont.eot');
     src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
         url('fonts/fontawesome-webfont.woff2') format('woff2'), 
         url('fonts/fontawesome-webfont.woff') format('woff'), 
         url('fonts/fontawesome-webfont.ttf') format('truetype'), 
         url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
     font-weight: normal;
     font-style: normal;
}

[class^="fa-"]:before, [class*=" fa-"]:before {
     font-family: "FontAwesome";
     speak: none;
     display: inline-block;
     text-decoration: inherit;
     width: 1em;
     text-align: center;
     font-variant: normal;
     text-transform: none;
     line-height: 1em;
}

.fa-facebook:before {content: "\f09a";}
.fa-twitter:before {content: "\f099";}
.fa-youtube:before {content: "\f167";}
.fa-google-plus:before {content: "\f0d5";}
.fa-chevron-down:before {content: "\f078";}
.fa-calendar-o:before {content: "\f133";}
.fa-user:before {content: "\f007";}
.fa-comment:before {content: "\f075";}
.fa-reply:before {content: "\f112";}
.fa-bars:before {content: "\f0c9";}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

::selection {
    color: #fff;
    background: $cyan; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #fff;
    background: $cyan; /* Gecko Browsers */
}

body, html{
    width: 100%;
    height: 100%;
    display: block;
}

body{
    color: $dark;
    background: #efefef;
}

a{
    color: $dark;
    @extend .transition;

    &:hover{
        color: $cyan;
    }
}

.wrapper{
    width: 1180px;
    margin: 0 auto;
}

header{
    width: 100%;
    color: #fff;

    a{
        color: #fff;
    }

    .top_header{
        width: 100%;
        min-height: 32px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px; 
        text-transform: uppercase;
        background: $blue;

         ul{
            float: left;
            padding-top: 8px;
        }
    }

    .top_navigation{
        float: left;

        li{
            float: left;
            padding: 0 10px;
            border-right: 1px solid $grey;

            &:last-child{
                border: none;
            }
        }
    }

    .top_social{
        float: right;

        li{
            float: left;
            height: 100%;
            padding : 0 8px;
            @extend .transition;
        }
    }

    .search{
        float: right;
        width: 200px;
        padding-top: 4px;

        input{
            width: 100%;
            height: 24px;
            padding: 0 10px;
            @extend .borderbox;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
            border-radius: 0;

            &:focus{
                border: 1px solid $blue;
            }
        }
    }

    .main_header{
        width: 100%;
        float: left;
        padding: 0 20px;
        background: #fff;
        @extend .borderbox;

        .holder{
            width: 100%;
            padding: 25px 0;
            float: left;

            .logo{
                max-width: percentage(432px/1180px);
                float: left;
                font-family: "Roboto", sans-serif;
                font-size: 56px;
                color: $blue;

                span{
                    font-family: "Playfair Display", sans-serif;
                    font-size: 25px;
                    line-height: 33px;
                    color: $dark;
                    display: block;
                }

                img{
                    max-height: 100px;
                    max-width: 100%;
                    display: block;
                }
            }

            .banner_holder{
                width: percentage(728px/1180px);
                height: 90px;
                float: right;
                text-align: center;

                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .closed{
            display: none;
        }

        .main_navigation{
            width: 100%;
            float: left;
            background: $blue;

            ul{
                float: left;
            }

            li{
                float: left;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                @extend .transition;
                position: relative;

                &.active{
                    background: $cyan;
                }

                a{
                    padding: 10px 15px;
                    display: block;
                    @extend .borderbox;

                    &:hover{
                        color: inherit;
                    }
                }

                &:first-child{
                    margin-left: 0;
                }

                &:hover{
                    background: $cyan;
                }

                &.child{
                    padding-right: 20px;

                    &:after{
                        content:'\f078';
                        font-family: "FontAwesome";
                        font-size: 12px;
                        position: absolute;
                        top: 12px;
                        right: 5px;
                    }

                    &:hover .sub-menu{
                        display: block;
                    }
                }
            }

            .sub-menu{
                position: absolute;
                width: 250px;
                top: 38px;
                left: 0;
                background: $blue;
                display: none;
                z-index: 2;
                -webkit-box-shadow: 0 0 20px -4px $cyan;
                box-shadow: 0 0 20px -4px $cyan;

                li{
                    width: 100%;
                    float: left;
                    @extend .borderbox;
                    font-size: 16px;

                    a{
                        width: 100%;
                    }
                }
            }
        }

        .responsive_navigation{
            width: 100%;
            float: left;
            background: $blue;
            padding: 10px 0;
            @extend .borderbox;
            display: none;

            .search{
                width: 40%;
                float: right;
                margin-right: 15px;

                input{
                    width: 100%;
                    height: 30px;
                    padding: 0 10px;
                    @extend .borderbox;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    border: 1px solid $blue;
                    -webkit-appearance: none;
                    border-radius: 0;
                    background: #456B91;
                    color: #fff;
                    &:focus{
                        border: 1px solid $blue;
                    }
                }
            }

            .open_menu{
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                line-height: 30px;
                @extend .transition;
                cursor: pointer;
                margin-left: 15px;

                &:hover{
                    @extend .opacity;
                }

                &.fa:before{
                    margin-right: 7px;
                }
            }

            .menu{
                width: 100%;
                float: left;
                margin-top: 10px;
            }

            li{
                width: 100%;
                float: left;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                @extend .transition;
                position: relative;
                padding: 0 15px;
                @extend .borderbox;

                &.active{
                    background: $cyan;
                }

                a{
                    padding: 10px 0;
                    display: block;
                    @extend .borderbox;

                    &:hover{
                        color: inherit;
                    }
                }

                &:first-child{
                    margin-left: 0;
                }

                &:hover{
                    background: $cyan;
                }

                &.child{

                    &:after{
                        content:'\f078';
                        font-family: "FontAwesome";
                        font-size: 12px;
                        position: absolute;
                        top: 12px;
                        right: 15px;
                    }
                }
            }

            .sub-menu{
                position: absolute;
                width: 100%;
                top: 38px;
                left: 0;
                background: $blue;
                z-index: 2;
                -webkit-box-shadow: 0 0 20px -4px $cyan;
                box-shadow: 0 0 20px -4px $cyan;

                li{
                    width: 100%;
                    float: left;
                    @extend .borderbox;
                    font-size: 16px;

                    a{
                        width: 100%;
                    }
                }
            }
        }
    }
}

main{
    width: 100%;
    padding: 40px 20px;
    float: left;
    background: #fff;
    @extend .borderbox;
}

.container{
    width: 100%;
    float: left;
}

.content{
    width: 69%;
    float: left;
}

.col1{
    width: 49%;
    float: left;
    margin-left: 2%;

    &:nth-child(2n+1){
        margin-left: 0;
    }
}

.col2{
    width: 100%;
    float: left;
}

section{
    margin-bottom: 40px;
    width: 100%;
    float: left;

    &:nth-child(2n){
        .top_section{
            border-color: $blue;

            span{
                color: $blue;
            }
        }

        .categories li a{
            color: $blue;
        }
    }
}

.top_section{
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    border-bottom: 2px solid $green;

    span{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        line-height: 30px;
        color: $green;
        height: 100%;
        display: inline-block;
        text-transform: uppercase;
    }
}

.featured{
    width: 100%;
    float: left;

    .featured_article{
        width: 60%;
        height: 400px;
        float: left;
        @extend .bgcover;
        background-position: center;
        position: relative;
    }

    .more_featured{
        width: 40%;
        float: right;

        .small_featured_article{
            width: 48%;
            height: 195px;
            margin-left: 2%;
            margin-top: 10px;
            float: left;
            position: relative;
            @extend .bgcover;
            background-position: center;

            &:nth-child(1),
            &:nth-child(2){
                margin-top: 0;
            }
        }
    }

    .overlay{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px 15px;
        background: rgba(0,0,0,0.4);
        @extend .borderbox;

        .title{
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: #fff;
            margin-bottom: 15px;
            display: inline-block;

            &:hover{
                color: $cyan;
            }
        }
    }

    .small_featured_article .overlay{
        padding: 10px;

        .title{
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .meta{
            font-size: 13px;

            li{
                margin-left: 10px;

                &:first-child{
                    margin-left: 0;
                }
            }

            a{
                font-size: 13px;
            }
        }
    }
}

.feat_image{
    width: 100%;
    height: 200px;
    float: left;
    @extend .bgcover;
    background-position: center;
}

.article, 
.more_articles{
    width: 100%;
    float: left;
}

.single_post{
    width: 100%;
    float: left;

    .featured_image{
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 40px;

        img{
            max-width: 100%;
        }
    }

    .meta{
        margin-bottom: 20px;
        li{
            color: $dark;

            a{
                color: $dark;

                &:hover{
                    color: $cyan;
                }
            }
        }
    }

    .title{
        width: 100%;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .text{
        width: 100%;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        text-align: justify;

        p{
            margin-bottom: 20px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        a{
            color: $blue;

            &:hover{
                color: $cyan;
            }
        }
    }
}

.category_post{
    width: 100%;
    float: left;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid $green;

    &:last-child{
        margin-bottom: 0;
    }

    .featured_image{
        width: 100%;
        height: 350px;
        float: left;
        text-align: center;
        margin-bottom: 40px;
        @extend .bgcover;
        background-position: center;

        img{
            max-width: 100%;
        }
    }

    .meta{
        margin-bottom: 20px;
        li{
            color: $dark;

            a{
                color: $dark;

                &:hover{
                    color: $cyan;
                }
            }
        }
    }

    .title{
        width: 100%;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 20px;

        &:hover{
            color: $cyan;
        }
    }

    .text{
        width: 100%;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-weight: 300;
        text-align: justify;

        p{
            margin-bottom: 20px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        a{
            color: $blue;

            &:hover{
                color: $cyan;
            }
        }
    }
}

.other_news{
    width: 100%;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 15px;
    @extend .borderbox;
    border-bottom: 1px solid #ccc;

    &:last-child{
        margin-bottom: 0;
    }

    .image{
        width: 35%;
        height: 100px;
        float: left;
        @extend .bgcover;
        background-position: center;
    }

    .infos{
        width: 60%;
        float: right;

        .title{
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            line-height: 26px;
            font-weight: 300;
            margin-bottom: 15px;
            display: inline-block;
        }

        .meta{
            color: $dark;
            font-size: 13px;

            a{
                color: $dark;
                font-size: 13px;

                &:hover{
                    color: $cyan;
                }
            }
        }
    }
}

.meta{
    width: 100%;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #fff;

    li{
        float: left;
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }
    }

    a{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        color: #fff;

        &:hover{
            color: $cyan;
        }
    }
}

// .categories{
//     width: 100%;
//     float: left;
//     margin-top: 20px;

//     li{
//         float: left;
//         margin-left: 15px;

//         &:first-child{
//             margin-left: 0;
//         }

//         a{
//             font-family: "Roboto Condensed", sans-serif;
//             font-size: 14px;
//             color: #fff;
//             padding: 5px 12px;
//             background: $green;
//             display: inline-block;

//             &:hover{
//                 @extend .opacity;
//             }
//         }
//     }
// }

.breadcrumbs{
    width: 100%;
    min-height: 30px;
    float: left;
    margin-bottom: 20px;
    border-bottom: 2px solid $blue;

    ul{
        height: 100%;
        float: left;
        @extend .borderbox;
    }

    li{
        float: left;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        line-height: 30px;
        color: $grey;
        display: inline-block;

        a{
            color: $grey;
        }

        &:after{
            content:'>';
            display: inline-block;
            padding: 0 10px;
        }

        &:last-child:after{
            display: none;
        }
    }
}

.entry{
    width: 100%;
    float: left;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;

    .title{
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
        display: inline-block;

        &:hover{
            color: $cyan;
        }
    }

    .meta{
        color: $grey;
        margin-bottom: 15px;

        a{
            color: $grey;

            &:hover{
                color: $cyan;
            }
        }
    }

    .text{
        width: 100%;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-weight: 300;
        text-align: justify;
    }
}

.comments_section{
    width: 100%;
    float: left;
    margin-top: 40px;

    .comments_title{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 3px solid #94ba65;
    }

    #respond{
        width: 60%;
        float: left;
    }

    .comm_form{
        width: 100%;
        float: left;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 17px;
        line-height: 22px;
        color: $dark;

        label, input{
            width: 70%;
            float: left;
        }

        label{
            margin: 10px 0;
            cursor: pointer;

            &:first-child{
                margin-top: 0;
            }
        }

        input{
            height: 30px;
            padding: 0 10px;
            @extend .borderbox;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
            border-radius: 0;

            &:focus{
                border: 1px solid $cyan;
            }
        }

        textarea{
            width: 100%;
            height: 100px;
            resize: none;
            padding: 10px;
            @extend .borderbox;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            border: 1px solid #ccc;
            outline: none;
            -webkit-appearance: none;
            border-radius: 0;

            &:focus{
                border: 1px solid $cyan;
            }
        }

        .comm_submit{
            width: auto;
            margin-top: 15px;
            padding: 0 20px;
            background: $cyan;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 17px;
            color: #fff;
            cursor: pointer;
            border: none;
            @extend .transition;

            &:hover{
                @extend .opacity;
            }
        }
    }

    .comments_list{
        width: 100%;
        float: left;
        margin-top: 40px;

        ul, li{
            width: 100%;
            float: left;
        }

        ul.reply_comm{
            width: 77%;
            float: right;

            li:last-child{
                border: none;
            }
        }

        li{
            padding: 20px 0;
            @extend .borderbox;
            border-bottom: 1px solid #ccc;
        }

        .avatar{
            width: 24%;
            float: left;
            text-align: center;

            img{
                max-width: 60%;
                border-radius: 50%;
            }
        }

        .comment{
            width: 74%;
            float: right;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            text-align: justify;
            color: $dark;

            span, time, a{
                display: block;
                font-family: "Roboto", sans-serif;
                font-size: 17px;
                font-weight: 700;
                line-height: 20px;
                color: $dark;
            }

            p{
                margin-top: 15px;
            }

            a{
                display: inline-block;
            }

            a:hover{
                color: $cyan;
            }

            .fa-reply{
                font-size: 13px;
                margin-top: 10px;

                &:before{
                    margin-right: 5px;
                }
            }
        }
    }
}

.banner{
    width: 100%;
    height: 60px;
    float: left;
    margin: 30px 0;
    text-align: center;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}

aside{
    width: 29%;
    float: right;

    .banner_holder{
        width: 100%;
        height: 250px;
        float: left;
        text-align: center;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.sidebar_news,
.news{
    width: 100%;
    float: left;
}

.sidebar_news{
    margin-bottom: 30px;

    &:last-child{
        margin-bottom: 0;
    }

    &:nth-child(2n){
        .top_section{
            border-color: $blue;

            span{
                color: $blue;
            }
        }

        .categories li a{
            color: $blue;
        }
    }

    .entry{

        .title{
            font-size: 20px;
            line-height: 26px;
        }

        .text{
            font-size: 15px;
            line-height: 18px;
        }
    }

    .other_news .infos .title{
        font-size: 18px;
        line-height: 22px;
    }
}

.widget{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: $dark;

    a{
        color: $dark;

        &:hover{
            color: $cyan;
        }
    }
}

footer{
    width: 100%;
    float: left;
    background: #fff;
}

.footer_links{
    width: 100%;
    float: left;
    padding: 40px 20px;
    @extend .borderbox;


    .box{
        width: 25%;
        padding-right: 20px;
        float: left;
        @extend .borderbox;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        line-height: 22px;
        font-weight: 300;
        color: $dark;

        &:last-child{
            padding-right: 0;
        }

        .title{
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
}

.site_footer{
    width: 100%;
    float: left;
    border-top: 3px solid rgba(0,0,0,0.2);
    background: $blue;
    color: #fff;
    padding: 0 20px;
    @extend .borderbox;

    .content{
        width: 100%;
    }

    .box_title{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        margin: 15px 0;
        border-bottom: 3px solid rgba(0,0,0,0.2);
    }

    .box{
        width: 25%;
        padding-right: 20px;
        float: left;
        @extend .borderbox;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 20px;
        display: inline-block;
        color: #fff; 

        &:last-child{
            padding-right: 0;
        }

        a{
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            line-height: 22px;
            font-weight: 300;
            margin-bottom: 10px;
            display: inline-block;
            color: #fff; 

            &:hover{
                color: $cyan;
            }
        }
    }

    .footer_news{
        width: 100%;
        float: left;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @extend .borderbox;

        &:last-child{
            margin-bottom: 0;
        }

        .image{
            width: 35%;
            height: 75px;
            float: left;
            @extend .bgcover;
            background-position: center;
        }

        .infos{
            width: 60%;
            float: right;

            .title{
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                line-height: 22px;
                font-weight: 300;
                margin-bottom: 10px;
                display: inline-block;
                color: #fff;

                &:hover{
                    color: $cyan;
                }
            }

            .meta{
                color: #fff;
                font-size: 13px;

                a{
                    color: #fff;
                    font-size: 13px;

                    &:hover{
                        color: $cyan;
                    }
                }
            }
        }
    }

    a.tag{
        font-size: 14px;
        color: #fff;
        padding: 2px 10px;
        margin: 0 5px 10px 0;
        background: rgba(0,0,0,0.2);
        display: inline-block;

        &:hover{
            color: #fff;
            @extend .opacity;
        }
    }

    .contact_form{
        width: 100%;
        float: left;

        label, input, textarea{
            width: 100%;
            float: left;
            border: none;
            -webkit-appearance: none;
            border-radius: 0;
        }

        label{
            margin: 5px 0;
            cursor: pointer;
            font-weight: 300;

            &:first-child{
                margin-top: 0;
            }
        }

        input{
            height: 30px;
            padding: 0 10px;
            @extend .borderbox;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            border: 1px solid $blue;

            &:focus{
                border: 1px solid $cyan;
            }
        }

        textarea{
            height: 100px;
            resize: none;
            padding: 10px;
            @extend .borderbox;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            outline: none;
            border: 1px solid $blue;

            &:focus{
                border: 1px solid $cyan;
            }
        }

        .submit_button{
            width: auto;
            margin-top: 10px;
            padding: 0 20px;
            background: rgba(0,0,0,0.2);
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            color: #fff;
            cursor: pointer;
            @extend .transition;

            &:hover{
                @extend .opacity;
            }

            &:focus{
                border: none;
            }
        }
    }

    .copyright{
        width: 100%;
        min-height: 60px;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 20px;

        .container{
            width: 100%;
            height: 100%;
            float: left;
            padding: 20px 0;
            @extend .borderbox;
            border-top: 3px solid rgba(0,0,0,0.2);
        }

        a{
            color: #fff;

            &:hover{
                color: $cyan;
            }
        }

        .left{
            float: left;
        }

        .right{
            float: right;
        }
    }
}

@media only screen and (max-width: 1280px){
    .wrapper{
        width: 94%;
    }
}

@media only screen and (max-width: 1024px){
    header .main_header .holder .logo{
        max-width: 100%;
    }
        
    .featured{
        .featured_article{
            width: 100%;
        }

        .more_featured{
            width: 100%;
            margin-top: 30px;
            float: left;

            .small_featured_article{
                width: 49%;

                &:nth-child(2n+1){
                    margin-left: 0;
                }
            }
        }
    }

    .content{
        width: 100%;
    }

    aside{
        width: 100%;
        margin-top: 30px;

        .sidebar_news,
        .widget{
            width: 49%;
            margin-left: 2%;

            &:nth-child(2n+1){
                margin-left: 0;
            }
        }
    }

    .site_footer .box{
        width: 50%;

        &:nth-child(2n+1){
            clear: both;
        }
    }

    .footer_links .box{
        width: 50%;
        margin-top: 30px;

        &:nth-child(1),
        &:nth-child(2){
            margin-top: 0;
        }

        &:nth-child(2n+1){
            clear: both;
        }
    }

    .banner,
    header .main_header .holder .banner_holder,
    aside .banner_holder{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    header .main_header{
        .main_navigation{
            display: none;
        }

        .responsive_navigation{
            display: block;
        }
    }

    header .top_header .search{
        display: none;
    }

    .featured{
        .featured_article{
            height: 300px;
        }

        .more_featured .small_featured_article{
            width: 100%;
            margin-left: 0;

            &:nth-child(2){
                margin-top: 10px;
            }
        }
    }

    .col1{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .comments_section #respond{
        width: 80%;
    }

    aside .sidebar_news,
    aside .widget{
        width: 100%;
        margin-left: 0;
    }

    .site_footer .box{
        width: 100%;
    }

    .footer_links .box{
        width: 100%;

        &:nth-child(2){
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 480px){
    header{
        .top_header{
            padding: 7px 0;
        }

        .top_navigation,
        .top_social{
            width: 100%;
            float: left;
        }

        .top_social{
            margin-top: 7px;
        }

        .main_header{
            padding: 0 10px;

            .responsive_navigation .search{
                width: 60%;
            }

            .holder .logo{
                font-size: 44px;
            }
        }
    }

    main{
        padding: 20px 10px;
    }

    .featured .featured_article,
    .category_post .featured_image{
        height: 250px;
    }

    .comments_section{
        #respond{
            width: 100%;

            .comm_form label,
            .comm_form input{
                width: 100%;
            }
        }

        .comments_list{
            .avatar{
                width: 16%;

                img{
                    max-width: 100%;
                }
            }

            .comment{
                width: 82%;
            }

            ul.reply_comm{
                width: 90%;
            }
        }
    }

    .site_footer{
        .contact_form .submit_button{
            width: 100%;
        }

        .copyright{
            text-align: center;

            .left{
                float: none;
                display: block;
            }

            .right{
                float: none;
                display: block;
                margin-top: 7px;
            }
        }
    }
}

@media only screen and (max-width: 320px){
    .wrapper{
        width: 100%;
    }
}